!src/main
build/
lib/
target/
.mvn/

src/main/java/org/rismch/verovio/generated/
swig/verovio_wrap.cxx

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Mac OS ###
.DS_Store