<?xml version="1.0" encoding="UTF-8"?>
<configuration packagingData="true">
    <statusListener class="org.rismch.verovio.logging.LogbackStatusListener" />

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOGDIR}/VerovioJniTesting.log</File>
        <encoder>
            <pattern>[%d{ISO8601}] %C.%M %L [%-5p] - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>1</maxIndex>
            <FileNamePattern>${LOGDIR}/VerovioJniTesting.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>[%d{ISO8601}] %C.%M %L [%-5p] - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.rismch" additivity="false" level="TRACE">
        <appender-ref ref="file"/>
        <appender-ref ref="stdout"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="file"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>
